body{
	font-size:16px;
	font-family: 'Geo', sans-serif;
}

#container {
	width:75em;
	margin:1em auto;
	border:1px solid #ccc;
	border-radius:7px 7px;
	box-shadow:0px 0 10px -2px #999999;
}
header{
	padding:1em;
}
header h1 {
	margin:0 0em 0.5em;
	padding:0;
	position:relative;
	width:50%;
}
header:after{
	clear:both;
	display:block;
	content:"";
	padding:-1em;
	border:1px solid #000;
}
section {
	padding:1em;
}
nav {
	display:block;
	position:absolute;
	right:3em;
	top:2em;
}
nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
nav ul li {
	display:inline-block;
	margin:0;
	padding:0;
}
nav a{
	padding:0.5em 1em;
	background-color:#000;
	color:#FFF;
	text-decoration:none;
	width:100%;
	height:100%;
}
nav a:hover{
	background-color:#FFF;
	color:#000;
	border:0.1em solid #000;
	padding:0.3em 0.8em;
}
#content{
	padding:0 1em 1em 1em;
}
#content h2 {
	margin:0;
	padding:0;
}
#map {
	border:1px solid #ccc;
	border-radius:5px 5px;
	width:auto;
	height:30em;
	display:block;
	padding:0;
	margin:1em;
}
/* ----- custom zoom controls, because we can & it looks cooler than the defaults :D --------*/
.olControlAttribution {
	bottom: 5px;
	font-size: 20px;
}
#customZoom {
	z-index: 1001;
	position: relative;
	top: 20px;
	left: 20px;
	font-size:2em;
}
#customZoom a {
	text-decoration: none;
	position: absolute;
	display: block;
	padding:0.2em;
	width:40px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #000;
	border-radius: 10px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	-webkit-border-radius: 7px;
}
#customZoom a:hover {
	background: #FFF;
	border:0.1em solid #000;
	color:#000;
	padding:0.1em;
}
#customZoomIn {
	top: 10px;
}
#customZoomOut {
	margin-top: 80px;
}
/* ----------------------------------------- */
